* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    background: #1C1F20;
    font-size: 15px;
    font-weight: 500;
    background-image: url('assets/background.png');
}

body {
    overflow: hidden;
}

.tveffect {
    position: absolute;
    inset: -200%;
    background-image: url('assets/tv.jpg');
    z-index: 10;
    opacity: 10%;
    pointer-events: none;
    animation: static 50s linear infinite both;
}

@keyframes static {
    0% {
        transform: translate(0%, 10%);
    }
    100% {
        transform: translate(0%, -10%);
    }
}
.tab-container {
    position: relative;
}

.auto, u, i, .textTarget, h1 {
    background: #1C1F20;
}

.tab {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    font-weight: bold;
    transition: transform 0.3s;
    background: #1C1F20;
    overflow: visible !important;
}

.close {
    font-size: 12px;
    color: #888;
    margin-left: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.folder-container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffd1dc;
    border-radius: 5px;
    background: #1C1F20;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: white;
    background: #1C1F20;
}

.minimize-button {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: #1C1F20;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button {
    margin-bottom: 5px;
}

.bottom-right-text {
    position: absolute;
    bottom: 95px;
    right: 590px;
    color: #ffd1dc;
    font-size: 14px;
    font-weight: bold;
}

.tab.active {
    background-color: #ffd1dc;
    color: #1C1F20;
    height: 32px;
    position: relative;
    z-index: 1;
    transform: translateY(-5px);
}

.tab-content {
    display: none;
    border: 2px solid #ccc;
    width: 97%;
    height: calc(100% - 45px);
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 20px;
    position: absolute;
    top: 35px;
    background: #1C1F20;
    overflow: visible !important;
}

.tab.active + .tab.content {
    display: block;
}

.tab-content.active {
    display: block;
    background: #1C1F20;
}

.tab:hover {
    background-color: #ffd1dc;
    color:#1C1F20;
    transition: all 0.3s;
}

.tab:not(:hover) {
    transition:all 0.1s;
}


a {
    color: #cee5f2;
    background: #1C1F20;
}

a:hover {
    color: #f7fcff;
}

.bluey {
    color: #baeff5;
    font-weight: bold;
    background: #1C1F20;
}

.grey {
    color: #dedede;
    background: #1C1F20;
}

.hide-cursor .ti-cursor {
    display: none !important;
}